html, body{
    
width: 100%;
height: 100%;
margin: 0;
background: url(https://image1.shopserve.jp/sunrich.jp/pic-labo/BBRC251D1-1.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: 60%;

}
main{
    width: 100%;
    height: 70%;
}
h1{
    margin-left: 5%;
    color: rgb(1, 1, 14);
    font-style: italic;
    font-size: 50px;
}
.text_info{
    color: rgb(34, 21, 2);
    width:28em;
    margin-left: 3em;
}
.user_information{
    width: 30%;
    border: 1px black;
}
.user_information caption{
    padding-bottom: 3%;
    color: rgb(15, 15, 177);
    font-size: 150%;
    align-items: center;
    padding-top: 10px;
}  
header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.contact-info{
    width: 100%;
    height: 15%;
}
.footer-menu-container{
    width: 100%;
    height: 100%;
    position: relative;
    color: aliceblue;
    display: flex;
    background-color: #2c3135;
    
}
.footer-menu-block{
    width: 25%;
    height:100%;
    text-align: center;
}
.footer-menu-block-title{
    text-align: center;
    font-style: italic;
}
.page-footer-telefon{
    list-style-type: none;
}
.page-footer-adress{
    list-style-type: none;
}
