html, body{
    
width: 100%;
height: 100%;
margin: 0;
background: url(https://imgr1.auto-motor-und-sport.de/sport-auto-Award-2017-P-155-Ford-GT-169FullWidth-f56694c1-1062952.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: 60%;

}
main{
    width: 100%;
    height: 70%;
}
h1{
    margin-left: 5%;
    color: #4d1933;
    font-style: italic;
    font-size: 50px;
}
.text_info{
    height: 30%;
    color: rgb(241 234 234);
    width:28em;
    margin-left: 3em;
    overflow-y: scroll;
    font-size: 20px;
    background: repeating-radial-gradient(black, transparent 100px);
    
}
.user_information{
    width: 30%;
    border: 1px black;
}
.user_information caption{
    padding-bottom: 3%;
    color: rgb(15, 15, 177);
    font-size: 150%;
    align-items: center;
    padding-top: 10px;
}  
header.header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}
.contact-info{
    width: 100%;
    height: 15%;
}
.footer-menu-container{
    width: 100%;
    height: 100%;
    position: relative;
    color: aliceblue;
    display: flex;
    background-color: #2c3135;
    
}
.footer-menu-block{
    width: 25%;
    height:100%;
    text-align: center;
}
.footer-menu-block-title{
    text-align: center;
    font-style: italic;
}
.page-footer-telefon{
    list-style-type: none;
}
.page-footer-adress{
    list-style-type: none;
}
.nav{
    width: 10%;
    height: 10%;
}
.car-list{
    width: 10%;
    height: 10%;
    transform: translate(500%, -120%);
    font-size: 20px;
    
}
